main
.o
obj/
lib/catch
lib/relic
lib/relic-doc
lib/**/*.o
lib/**/*.lo
lib/**/*.la
lib/**/*.a
lib/libsodium-1.0.16
lib/gmp-6.1.2
src/*.o

.vscode
blstest
blstest.*
blsbench
blsbench.*

.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

**/.DS_Store
