[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=false
insert_final_newline=false
indent_style=space
indent_size=2

[{*.ng,*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=2

[{.eslintrc,.prettierrc,.babelrc,jest.config,.stylelintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[*.svg]
indent_style=space
indent_size=2

[*.css]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[*.styl]
indent_style=space
indent_size=2

[*.js]
indent_style=space
indent_size=2

[{*.ats,*.ts}]
indent_style=space
indent_size=2
ij_typescript_import_use_node_resolution = false

[*.tsx]
indent_style=space
indent_size=2
ij_typescript_import_use_node_resolution = false

[{*.mjs,*.es6}]
indent_style=space
indent_size=2

[*.js.flow]
indent_style=space
indent_size=2

[*.jsx]
indent_style=space
indent_size=2

[{jshint.json,*.jshintrc}]
indent_style=space
indent_size=2

[{tsconfig.e2e.json,tsconfig.spec.json,tsconfig.app.json,tsconfig.json}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{.analysis_options,*.yml,*.yaml}]
indent_style=space
indent_size=2

